*{
  padding:0;
  margin: 0;
  box-sizing:border-box ;
  font-family: 'arvo' , 'serif';
}
html body{
  height: 100%;
}
.parent{
  display:flex;
  
}
.sidebar{
  width:20%;
  height:100%;
  position:fixed;
  background-color:#512679;
}
.sidebar-pos{
  position:absolute;
  top:50%;
  transform:translateY(-50%)
}
.img-sidebar{
  text-align:center;
  
  
}
.img-sidebar img{
  width:80%;
  height: 200px;
  border:8px solid #62318e;
  border-radius:100%;
  
}
.menu{
  margin:20px 0;
  text-align:center;

}
.menu a.active{
  color:rgb(29, 17, 17);
  
}
.menu a:hover:not(.active){
  background-color:rgb(27, 11, 11);
  color:rgb(146, 142, 142);
} 
.menu a{
  color:white;
  opacity:0.9;
  font-size:24px;
  display: block;
  margin-bottom:20px;
  text-decoration:none;
}
.menu a select{
  opacity:1;
}
.content{
  position:absolute;
  left:20%;
  width:80%;
  height:100%;
  overflow-y: auto;
  padding:0 3%;
}
section.descricao{
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
section.descricao{
  position:relative;
  top:50%;
  transform:translatey(-50%);
}
section.descricao h2{
     color:#343a40;
     font-size:46px;
}
section.descricao h2 > span , section.descricao h3 > span{
   color:#62318e;
}
section.descricao h3{
  color:#6c757d;
  margin:15px 0;
  font-size:26px;
}
section.descricao p{
  color:#6c757d;
  font-size:20px;
  margin-top:40;
}
.icons-social {
  margin-top:20px;
}
.icons-social img {
  text-decoration:none;
  color:white;
  background-color:gray;
  width:40px;
  height:40px;
  border-radius:20px;
  display:inline-block;
  margin:0 10px;
  text-align:center;
  image-resolution: from-image 300dpi ;
  
  
  
}
.icons-social i{
  line-height:40px;
}
@media screen and(max-width:1224px){
  .img-sidebar img{
    width:30%;
    height: 200px;
   
    border-radius:100%;
  }
  .menu a{
    color:white;
    opacity:0.9;
    font-size:24px;
    display: block;
    margin-bottom:20px;
    text-decoration:none;
  }
  section.descricao{
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
  section.descricao{
    position:relative;
    top:50%;
    transform:translatey(-50%);
  }

}
@media screen and(max-width:768px){
  .img-sidebar img{
    width:20%;
    height: 200px;
    border:8px solid #62318e;
    border-radius:100%;
  }
  .menu a{
    color:white;
    opacity:0.9;
    font-size:24px;
    display: block;
    margin-bottom:20px;
    text-decoration:none;
  }
  section.descricao{
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
  section.descricao{
    position:relative;
    top:50%;
    transform:translatey(-50%);
  }

}